
@font-face {
  font-family: gotBold;
  src: url(Gotham-Bold.otf);
}
/* ////////////////////////// */
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}
.box{
height: 100vh;
width: 100vw;
}

.box2{
  height: 100vh;

  }

.black{
  background: black
}

.container{
  display: flex;
  justify-content: center;
}
 
.cover{
max-height: 100vh;
min-width: 100vw;
}

.logo{
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.logoOff{
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.texte{
  font-family: gotBold;
  color: white;
  position: absolute;
  margin-top: -10vh;
}

.vide{
 height:  100vh

}

.intro{
  width: 50vw;
}